{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="d-flex justify-content-center title">ELA Worksheet Generator</h1>

    <div id="input-methods">
        <div id="selection-btns" class="d-flex justify-content-center">
            <button id="raw-text-select" class="btn btn-primary border">Generate worksheet using raw text</button>
            <button id="url-api-select" class="btn btn-primary border">Generate worksheet using url</button>
        </div>

        <form id="raw-text-method" class="d-none">
            <p>Worksheet Title:
                <input type="text" class="worksheet-title" placeholder="Title" />
            </p>
            <p>Worksheet Grade Level:
                <input type="text" id="grade-level" placeholder="Lower/Middle/Upper" />
            </p>
            <p>Article Text:
                <textarea class="form-control" type="text" placeholder="Copy and paste raw text into this input field."
                    id="text-input" rows="3"></textarea>
            </p>
            <p class="d-none">
                <input type="text" id="article-length" />
            </p>
            <button id="text-input-btn">Enter</button>
        </form>
        <form id="url-api-method" class="d-none">
            <p>Worksheet Title:
                <input type="text" class="worksheet-title" placeholder="Title" />
            </p>
            <p>Worksheet Grade Level:
                <input type="text" id="grade-level" placeholder="Lower/Middle/Upper" />
            </p>
            <p class="d-none">
                <input type="text" id="article-length" />
            </p>
            <p class="first">Please enter the URL of website with desired article.</p>

            <input type="text" id="url-submit-form" placeholder="URL" />
            <button id="url-submit-btn">Enter</button>
        </form>
    </div>
    <div id="worksheet-container">


    </div>


</div>
</div>
{%endblock%}